@import "modules/variables";
@import "modules/utilities";

body {
  margin: 10px;
}

h1 {
  text-align: center;
}

.textarea-pre-display {
  font-family: monospace,monospace;
  background-color: #fafafa;
  color: #41403e;
  display: block;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  white-space: pre-wrap;
}